.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  
  .custom-button {
    margin: 5px;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .reset-button {
    margin: 5px; /* Add margin to separate it from the buttons */
    padding: 10px; /* Adjust padding according to your design */
    background-color: #3498db; /* Add a background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  .pressed {
    background-color: #ffffff; /* Change the background color for the pressed state */
  }

