<div class="button-container">
  <div class="button row">
    <button
      class="custom-button"
      [ngClass]="{ 'pressed': lastPressedButton === 'Button 1' }"
      (click)="buttonClick('Button 1')"
    >
      L
    </button>
    <button
      class="custom-button"
      [ngClass]="{ 'pressed': lastPressedButton === 'Button 2' }"
      (click)="buttonClick('Button 2')"
    >
      R
    </button>
    </div>
    <button
      class="reset-button"
      (click)="resetCounter()">
    Reset
    </button>
    <p style="font-family:'Courier New', Courier, monospace">Zyns used today: {{buttonCounter}}</p>
</div>