.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  
  .custom-button {
    margin: 5px;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .pressed {
    background-color: #ffffff; /* Change the background color for the pressed state */
  }